<?xml version="1.0" ?>
<launch>
    <param name="yellow_cube_model" textfile="$(find me326_locobot_example)/model/yellow_cube.urdf"/>
    <param name="blue_cube_model" textfile="$(find me326_locobot_example)/model/blue_cube.urdf"/>
    <param name="green_cube_model" textfile="$(find me326_locobot_example)/model/green_cube.urdf"/>
    <param name="red_cube_model" textfile="$(find me326_locobot_example)/model/red_cube.urdf"/>
    <node name="spawn_0_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -1.003573816462683 -y -0.043795035542149696 -z 0.1 -param blue_cube_model -model blue_cube_0" respawn="false" output="screen"/>
    <node name="spawn_1_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.0566923205734817 -y 1.2797628861763471 -z 0.1 -param yellow_cube_model -model yellow_cube_1" respawn="false" output="screen"/>
    <node name="spawn_2_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -1.482620818243256 -y -1.0328737651388695 -z 0.1 -param red_cube_model -model red_cube_2" respawn="false" output="screen"/>
    <node name="spawn_3_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.9227006406167546 -y -0.7169725595331169 -z 0.1 -param blue_cube_model -model blue_cube_3" respawn="false" output="screen"/>
    <node name="spawn_4_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -1.8243746807855035 -y 0.7602849973670565 -z 0.1 -param red_cube_model -model red_cube_4" respawn="false" output="screen"/>
    <node name="spawn_5_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -0.3374219527890525 -y -1.1038672902109918 -z 0.1 -param red_cube_model -model red_cube_5" respawn="false" output="screen"/>
    <node name="spawn_6_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -0.7302829380117546 -y 1.349451374466828 -z 0.1 -param green_cube_model -model green_cube_6" respawn="false" output="screen"/>
    <node name="spawn_7_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.0200968744842962 -y -0.7467720213735866 -z 0.1 -param yellow_cube_model -model yellow_cube_7" respawn="false" output="screen"/>
    <node name="spawn_8_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x -1.7790110260051633 -y -0.14773802496370436 -z 0.1 -param green_cube_model -model green_cube_8" respawn="false" output="screen"/>
    <node name="spawn_9_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.311847327124841 -y 0.75836009472835495 -z 0.1 -param yellow_cube_model -model yellow_cube_9" respawn="false" output="screen"/>
</launch>
