<?xml version="1.0" ?>
<launch>
    <param name="yellow_cube_model" textfile="$(find me326_locobot_example)/model/yellow_cube.urdf"/>
    <param name="blue_cube_model" textfile="$(find me326_locobot_example)/model/blue_cube.urdf"/>
    <param name="green_cube_model" textfile="$(find me326_locobot_example)/model/green_cube.urdf"/>
    <param name="red_cube_model" textfile="$(find me326_locobot_example)/model/red_cube.urdf"/>
    <node name="spawn_0_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 1.2111935533320226 -y 2.464351930881572 -z 0.0001 -param yellow_cube_model -model yellow_cube_0" respawn="false" output="screen"/>
    <node name="spawn_1_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 1.3634311964703119 -y 1.2202381888492204 -z 0.0001 -param green_cube_model -model green_cube_1" respawn="false" output="screen"/>
    <node name="spawn_2_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.8987865850779697 -y 2.410768393231784 -z 0.0001 -param red_cube_model -model red_cube_2" respawn="false" output="screen"/>
    <node name="spawn_3_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 2.724428691818256 -y 0.8985599650343403 -z 0.0001 -param red_cube_model -model red_cube_3" respawn="false" output="screen"/>
    <node name="spawn_4_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.7173223774029103 -y 2.3186991532908143 -z 0.0001 -param green_cube_model -model green_cube_4" respawn="false" output="screen"/>
    <node name="spawn_5_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.1725328044673745 -y 1.661682122524609 -z 0.0001 -param red_cube_model -model red_cube_5" respawn="false" output="screen"/>
    <node name="spawn_6_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.4348510635781926 -y 0.26506297461858863 -z 0.0001 -param yellow_cube_model -model yellow_cube_6" respawn="false" output="screen"/>
    <node name="spawn_7_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 2.381909972840857 -y 0.10523164071040081 -z 0.0001 -param blue_cube_model -model blue_cube_7" respawn="false" output="screen"/>
    <node name="spawn_8_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 1.4179947821489205 -y 0.21168990178304503 -z 0.0001 -param blue_cube_model -model blue_cube_8" respawn="false" output="screen"/>
    <node name="spawn_9_cube" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 1.0 -y 1.0 -z 0.0001 -R  -0.000004 -P 0.000006 -Y 0.627877 -param green_cube_model -model green_cube_9" respawn="false" output="screen"/>
    <node name="spawn_locobot_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.9783811284968724 -y -0.6365743499477426 -z 0.0001 -param green_cube_model -model locobot_2" respawn="false" output="screen"/>
    <node name="spawn_locobot_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -x 0.0495462338043025 -y -0.8277026164308642 -z 0.0001 -param red_cube_model -model locobot_3" respawn="false" output="screen"/>
</launch>
